.cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(278px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(240px, 1fr)); */
  gap: 20px;
  justify-content: center;
}

.message {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}