.select {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 14px 58px 14px 14px;
  border: 2px solid transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px top 50%, 0 0;
  cursor: pointer;
}

.selectWrap {
  position: relative;
}

.icon {
  position: absolute;
  left: 16px;
  top: 18px;
  font-size: 24px;
  color: #BDBDBD;
  pointer-events: none;
}

@media (max-width: 767px) {
  .select {
    padding: 6px 40px 6px 16px;
    font-size: 18px;
  }
  .icon {
    top: 11px;
    font-size: 20px;
  }
  
}

.invalid {
  border-color: red;
}