.button {
  display: flex;
  /* flex-grow: 1; */
  width: 100%;
  max-width: 174px;
  border-radius: 12px;
  padding: 8px 34px;
  justify-content: space-between;
  align-items: center;
}

.button > svg {
  margin-right: 15px;
}

.button svg {
  width: 24px;
  height: 24px;
  padding: 3px;
}

.title {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}